@charset "utf-8";

#main {
	text-align: left;
	background: #e9eac6;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	text-shadow: 1px 2px 2px #999;
	padding-left: 10px;
	transform: matrix;
}

p {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	text-shadow: 1px 1px 3px #666;
	height: auto;
	padding-left: 10px;
}
img {
	height: 200px;
    border: 3px solid #00000;

}
